@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
  background-image: url(assets/fondo3.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
.recibo-container {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-color: red;
  background: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.recibo-header {
  text-align: center;
  margin-bottom: 20px;
}
.recibo-header h2 {
  margin: 0;
}
.recibo-details,
.recibo-items {
  margin-bottom: 20px;
}
.recibo-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.total {
  font-weight: bold;
  font-size: 1.2em;
}
.ascii-title {
  font-family: monospace;
  white-space: pre;
  font-size: 24px;
  margin-bottom: 20px;
}
