<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Crear cliente</title>
    <!--S T Y L E-->
    <link rel="stylesheet" href="/static/crear_cliente.css" />
  </head>
  <body>
    <div>
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="read_clientes">Ver clientes</a></li>
        </ul>
        <h1>Crear nuevo cliente</h1>
      </nav>
    </div>

    <div class="form-container">
      <form action="/crear_cliente" method="post">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required placeholder="Ingresar el nombre del cliente" />
        </div>
        <div class="form-group">
          <label for="apellido">Apellido:</label>
          <input type="text" id="apellido" name="apellido" required placeholder="Ingresar el apellido del cliente" />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required placeholder="Ingresar el email del cliente" />
        </div>
        <div class="form-group">
          <label for="email">Telefono:</label>
          <input type="tel" id="telefono" name="telefono" required placeholder="Ingresar el tel. del cliente" />
        </div>
        <div class="form-group">
          <button type="submit">Crear cliente</button>
        </div>
      </form>
    </div>

    <!-- Mensaje de éxito (si existe) -->
    {% if message %}
    <div class="message-container">
      <p class="message">{{ message }}</p>
    </div>
    {% endif %}
  </body>
</html>
