<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Pedidos del Cliente {{ cliente_id }}</title>
    <link rel="stylesheet" href="/static/planilla.css" />
  </head>
  <body>
    <div>
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/select_cliente">Consultar otro cliente</a></li>
        </ul>
        <h1>Pedidos de la Mesa "{{ mesa_id }}"- Cliente: "{{ cliente_nombre }}"</h1>
      </nav>
    </div>

    <table>
      <thead>
        <tr>
          <th>ID Pedido</th>
          <th>Combo</th>
          <th>Cantidad de Combo</th>
          <th>Bebida</th>
          <th>Cantidad de Bebida</th>
          <th>Total Pedido</th>
        </tr>
      </thead>
      <tbody>
        {% for pedido in pedidos %}
        <tr>
          <td>{{ pedido.id }}</td>
          <td>{{ pedido.combo.nombre if pedido.combo else 'N/A' }}</td>
          <td>{{ pedido.cant_combo }}</td>
          <td>{{ pedido.bebida.nombre if pedido.bebida else 'N/A' }}</td>
          <td>{{ pedido.cant_bebida }}</td>
          <td>${{ pedido.total_pedido }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="summary-container">
      <h2>Resumen de los pedidos del cliente {{ cliente_id }}</h2>
      <p>Combos consumidos: {{ total_combos }}</p>
      <p>Bebidas consumidas: {{ total_bebidas }}</p>
      <p>Total a cobrar: ${{ total_cuenta }}</p>

      <form action="/cerrar_cliente/{{ cliente_id }}" method="post">
        <button type="submit">Cerrar Cuenta del Cliente</button>
      </form>
    </div>
  </body>
</html>
