<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>comanda del Pedido</title>
    <!--S T Y L E-->
    <link rel="stylesheet" href="/static/recibo.css" />
  </head>
  <body>
    <div class="recibo-container">
      <div class="ascii-title">T A K O Y A K I</div>
      <h1>comanda del Pedido</h1>
      <p><strong>Fecha y Hora:</strong> {{ recibo.hora }}</p>
      <p><strong>Mesa:</strong> {{ recibo.mesa_id }}</p>
      <p><strong>Combo:</strong> {{ recibo.combo }}</p>
      <p><strong>Bebida:</strong> {{ recibo.bebida }}</p>
    </div>
  </body>
</html>
